:root {
  --bg1: #ffffff;
  --bg2: #eef1f2;
  --bg3: #e8eef2;
  --text1: #0e1214;
  --text2: #2b3236;
  --text3: #6b747a;
  --accent: #28dcfc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #151819;
    --bg2: #1f2427;
    --bg3: #2a3941;
    --text1: #ffffff;
    --text2: #e7e7e7;
    --text3: #636363;
    --accent: #4ecfe5;
  }

  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text1);
  background: var(--bg1);
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notFoundCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.notFoundLink {
  text-decoration: underline;
}
