:root {
  --bg1: #f1f1f1;
  --bg2: #dfdfdf;
  --bg3: #c5c5c5;
  --fg1: #3caa3c;
  --fg2: #3a9b3a;
  --text1: #111111;
  --text2: #202020;
  --text3: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #151819;
    --bg2: #1f2427;
    --bg3: #2a3941;
    --text1: #ffffff;
    --text2: #e7e7e7;
    --text3: #636363;
  }

  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text1);
  background: var(--bg1);
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
