:root {
  --bg1: #f1f1f1;
  --bg2: #ebebeb;
  --bg3: #c5c5c5;
  --fg1: #5ccf5c;
  --fg2: #70d170;
  --text1: #111111;
  --text2: #202020;
  --text3: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #0f0f0f;
    --bg2: #1f1f1f;
    --bg3: #222222;
    --text1: #ffffff;
    --text2: #d8d8d8;
    --text3: #818181;
  }

  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text1);
  background: var(--bg1);
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
